<div class="container" [routerLink]="['/product-detail-page', product.id]">
  <div class="container-image">
    <img [src]="product.image" alt="" class="container-image__img" />
  </div>
  <div class="container-description">
    <h3 class="container-description__title">{{ product.title }}</h3>
    <p class="container-description__price">
      <span class="text-decoration">Price:</span>
      <span> {{ product.price }} &dollar; </span>
    </p>
    <p class="container-description__rating">
      <span class="text-decoration">Rating:</span>
      <span>
        {{ product.rating.rate }}
        <ion-icon name="star" class="star-icon"></ion-icon>
        ( {{ product.rating.count }} )
      </span>
    </p>
  </div>
</div>
