<app-header></app-header>
<div *ngIf="isDataLoaded" class="container">
  <div *ngIf="productsInCart.length === 0" class="cart-empty">
    <p class="cart-empty--text">Your cart is empty!</p>
  </div>
  <div *ngIf="productsInCart.length !== 0" class="container__main">
    <app-cart-item
      (totalPriceEmit)="onChangeTotalPrice($event)"
      *ngFor="let productInCart of productsInCart"
      [productInCart]="productInCart"
    ></app-cart-item>
    <div class="container__main__total">
      <p class="container__main__total--word">Total:</p>
      <p class="container__main__total--price">
        {{ cartTotalPrice.toLocaleString("en-US") }} &dollar;
      </p>
    </div>
    <div class="container__main__button">
      <button
        class="container__main__button--payment"
        routerLink="/product-list-page"
      >
        <div class="float-left">
          <ion-icon
            name="chevron-forward-outline"
            class="float-left--icon1"
          ></ion-icon>
          <ion-icon
            name="chevron-forward-outline"
            class="float-left--icon2"
          ></ion-icon>
        </div>
        Go to payment
      </button>
    </div>
  </div>
</div>
