@import "/src/app/shared/mixins";

.container__previous-orders {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1 1 100%;
  align-items: stretch;
  width: 100%;

  @include respond(tab-port) {
    justify-content: center;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 2.4rem;
    padding: 2rem 4rem;
  }
}

.container_previous-orders__cart-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  box-shadow: 2px 7px 27px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  height: fit-content;

  width: 100%;
  max-width: 50rem;

  @include respond(phone) {
    max-width: 100%;
    padding: 2rem 2rem;
  }

  &__order-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    white-space: nowrap;

    @include respond(phone) {
      flex-direction: column;
      white-space: wrap;
    }

    &--date {
      margin: 0;
      white-space: nowrap;
      @include respond(phone) {
        white-space: wrap;
      }
    }

    &--id {
      margin: 0;
      font-size: 1.4rem;
      white-space: nowrap;
      @include respond(phone) {
        white-space: wrap;
      }
    }
  }

  &__order-details {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    gap: 7rem;

    @include respond(phone) {
      gap: 0;
      flex-direction: column;
    }

    &__wrapper {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &__expand-button {
      position: relative;
      padding: 1.4rem;
      background-image: linear-gradient(90deg, #485fbe 0%, #3284dd 100%);
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 1.4rem;
      cursor: pointer;
      margin-top: 1rem;
      overflow: hidden;

      &:hover {
        background-image: linear-gradient(
          90deg,
          darken(#485fbe, 5%),
          darken(#3284dd, 5%)
        );
      }
    }

    &--title {
      width: 100%;
      max-width: 40rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include respond(phone) {
        margin-bottom: 0;
      }
    }

    &--quantity {
      white-space: nowrap;

      @include respond(phone) {
        margin-top: 0;
      }
    }
  }
}

.no-orders-message {
  padding: 2rem 4rem;
  border: 3px;
  background-color: #fff;
  font-size: 2.4rem;
  margin: 0;

  @include respond(phone) {
    text-align: center;
  }
}

.button-vector {
  position: absolute;
  top: 0;
  left: 0;
  background: #fe2d34;
  background-image: -webkit-linear-gradient(left, #cf3f50, #fe2d34);
  background-image: linear-gradient(to right, #cf3f50, #fe2d34);
  border-top-right-radius: 0% 0% !important;
  border-bottom-right-radius: 37% 100% !important;
  width: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chevron-down-icon {
  position: relative;
  font-size: 2rem;
  top: 5px;
  left: 20px;
  transition: all 0.15s ease-in-out;

  &--2 {
    position: relative;
    top: -5px;
    left: 20px;
  }
}

.expand {
  max-height: 50rem;
  transition: all 0.33s ease-in-out;
}
